.divider{
    width: 50%;
    border: 0;
    height: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #000;
    opacity: 0.4;
}

.search {
    width: 100%;

    background-image: url('../images/magnify.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 10px;
    background-position-y: 50%;
    border: 1px solid #ccc;;
    border-radius: 999px;
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 1%;
    margin-top: 1%;

    font-size: 1em;
}

.post-container{
    min-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    border: 1px solid;
    border-color: var(--main-bg-color);
    padding: 10px;
}

.post-title{
    font-size: 1.5em;
    font-family: 'Roboto';
}

.post-author{
    font-size: 1em;
    color: var(--main-bg-color);
    font-weight: lighter;
}

.post-description{
    font-family: 'Roboto';
}

.post-view{
    font-family: 'Roboto';
}

.post-view a{
    color: var(--main-bg-color);
    text-decoration: none;
}

.post-votes {
    margin-left: 5%;
    font-family: 'Roboto';
    font-size: 0.8em;
    color: var(--main-bg-color);
}



.categories {
    grid-area: aside;
    justify-self: center;

    width: 80%;
    height: 80vh;
    margin-top: 10px;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;

    border: 1px solid var(--main-bg-color);;
    border-radius: var(--border-radius);
    
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .categories {
        max-width: 200px;
        height: 101%;
        margin: 0px;

        position: fixed;
        top: 50%;
        right: -1;
        transform: translateY(-50%);

        background-color: white;
        background-image: url('../images/chevron-left.svg');
        background-repeat: no-repeat;
        background-position-y: 50%;
        border-radius: 0px;

        transition: 0.4s;
    }
}