.divider{
    width: 50%;
    border: 0;
    height: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #000;
    opacity: 0.4;
}

.search {
    width: 100%;

    background-image: url('../images/magnify.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 10px;
    background-position-y: 50%;
    border: 1px solid #ccc;;
    border-radius: 999px;
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 1%;
    margin-top: 1%;

    font-size: 1em;
}

.post-container{
    min-width: 300px;

    margin: auto;
    border-radius: 8px;
    border: 1px solid;
    border-color: #D42F2F;
    padding: 10px;
}

.post-title{
    font-size: 1.5em;
    font-family: Roboto-Light;
}

.post-author{
    font-size: 1em;
    color: #D42F2F;
    font-weight: lighter;
}

.post-description{
    font-family: Roboto-Light;
}

.post-view{
    font-family: Roboto-Italic;
}

.post-view a{
    color: #D42F2F;
    text-decoration: none;
}

.post-votes {
    margin-left: 5%;
    font-family: Roboto-Light;
    font-size: 0.8em;
    color: #D42F2F;
}



.categories {
    grid-area: aside;
    justify-self: center;

    width: 80%;
    height: 80vh;    
    margin-top: 10px;
    
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;

    border: 1px solid;
    border-radius: 4px;

}