label {
    display: block;
    text-indent: -10px;
}

.divider{
    width: 50%;
    border: 0;
    height: 1px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #000;
    opacity: 0.4;
}

.search-create {
    display: grid;
    grid-template-columns: auto 44px;
    grid-template-areas: "search create";
    grid-gap: 5px;

    margin-bottom: 1%;
    margin-top: 1%;
}

.search {
    width: 100%;

    background-image: url('../images/magnify.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 10px;
    background-position-y: 50%;
    border: 1px solid #ccc;;
    border-radius: 999px;
    padding: 10px;
    padding-left: 40px;

    font-size: 1em;
}

.create {
    grid-area: create;
}

.create-button {
    width: 44px;
    height: 44px;

    background-color: var(--accept-color);
    background-image: url('../images/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 999px;

    cursor: pointer;
}

.post-container{
    min-width: 300px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    border: 1px solid;
    border-color: var(--main-bg-color);
    padding: 10px;
}

.post-title{
    font-size: 1.5em;
    font-family: 'Roboto';
    margin: 0px;
}

.post-author{
    font-size: 1em;
    color: var(--main-bg-color);
    font-weight: lighter;
}

.post-description{
    font-family: 'Roboto';
}

.post-view{
    font-family: 'Roboto';
}

.post-view a{
    color: var(--main-bg-color);
    text-decoration: none;
}

.post-votes {
    margin-left: 5%;
    font-family: 'Roboto';
    font-size: 0.8em;
    color: var(--main-bg-color);
}



.sidebar {
    grid-area: aside;
    justify-self: center;

    width: 80%;
    min-width: 200px;
    height: auto;
    margin-top: 10px;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;

    border: 1px solid var(--main-bg-color);;
    border-radius: var(--border-radius);

    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
}

.show-button {
    width: 20px;
    height: 50px;

    position: absolute;
    top: calc(50% - 25px);

    background-image: url('../images/chevron-left.svg');
    background-color: transparent;
    background-position: 0px 14px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    padding: 0px;

    cursor: pointer;
    display: none;
}

.show-button:focus {
    outline: none;
}

.filters {
    display: grid;
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "search"
        "categories"
        "submit";

    height: 100%;
}

#cat {
    grid-area: search;
    justify-self: center;

    width: 90%;
    height: 20px;
    margin-top: 10px;
}

.categories {
    grid-area: categories;

    height: 100%;
    margin-top: 10px;

    overflow-y: scroll;
}

.category-checkbox {
    width: 13px;
    height: 13px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
    margin-right: 5px;

    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
    *overflow: hidden;
}

.submit {
    grid-area: submit;

    background-color: var(--accept-color);
    border: none;
}

@media screen and (max-width: 800px) {
    .sidebar {
        max-width: 23px;
        min-width: 0px;
        height: 10%;
        margin: 0px;

        position: fixed;
        top: 50%;
        right: -1;
        transform: translateY(-50%);

        background-color: white;
        border-radius: 0px;

        transition: 0.4s;
    }

    .show-button {
        display: inline;
    }

    .filters {
        display: none;
    }

    .category-checkbox {
        margin-left: 30px;
    }
}