<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' type='text/css' href={{ url_for('static', filename='css/base.css') }}>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    {% block header %}{% endblock %}
  </head>
  <body>
    <div class='web-container'>

      <div class='header'></div>

      <a class='logo' href={{ url_for('.index') }}><img class='logo-image' src={{ url_for('static', filename='images/logo.png') }}></a>

      <a class='login' href={{ url_for('.changeUser') }}>Welcome, {{ user }}</a>

      {% block content %}{% endblock %}

      <div class='footer'>
        <hr class='rule'/>
        A webapp for a hackathon. Created by Tatsuya, Ivan, Cristian, Mark, Corina, Marc, and Anais.
      </div>
    </div>

  </body>
</html>
