body {
    margin: 0px;
}

.web-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
     ". logo logo login"
     ". posts posts ."
     "footer footer footer footer";
}

.header {
    grid-column: 1 / 5;
    grid-row: 1;

    background-color: #b3c5d7;
}

.logo {
    grid-area: logo;
    justify-self: center;
}

.login {
    grid-area: login;
    justify-self: center;
}

.posts {
    grid-area: posts;
    justify-self: center;
}