{% extends "layout/base.html.j2" %}

{% block head %}
<link rel='stylesheet' type='text/css' href='../../static/css/create-post.css'>
<script src='../static/js/like.js'></script>
{% endblock %}

{% block content %}

{% endblock %}
