{% extends "layout/base.html.j2" %}
{% block header %}
  <link rel='stylesheet' type='text/css' href={{ url_for('static', filename='css/index.css') }}>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src={{ url_for('static', filename='js/like.js') }}></script>
  <script src={{ url_for('static', filename='js/categories.js') }}></script>
{% endblock %}

{% block content %}


  <div class='content'>
    <div class='search-create'>
      <form action='searchPost' method='get' style='margin: 0px;'>
        <input class='search' type='text' name='keyword' placeholder='Search for ideas...'>
        <input type="submit" style="position: absolute; left: -9999px"/>
      </form>
      <a class='create' href={{ url_for('.create') }}><button class='create-button'></button></a>
    </div>

    {% for p in posts %}
    <div class="post-container" id="{{ p.id }}">
      <!-- post.title -->
      <p class="post-title">{{ p.title }}</p>
      <!-- post.author -->
      <h4 class="post-author">{{ p.author }}</h4>
      <!-- post.description -->
      <p class="post-description">{{ p.description }}</p>
      <!-- voting arrows -->
      <img class="post-upvote-arrow" src={{ url_for('static', filename='images/up_arrow.svg') }} alt="upvote arrow">
      <img class="post-downvote-arrow" src={{ url_for('static', filename='images/down_arrow.svg') }} alt="downvote arrow">
      <!-- post.votes -->
      <span class="post-votes">{{ p.upvotes - p.downvotes }} votes</span>
      <p class="post-view"><a href={{ url_for('.post') ~ '?id=' ~ p.id }}>View</a></p>
    </div> <!-- post-container -->
    {% endfor %}    
  </div> <!-- posts -->

  <div class='sidebar'>
    <button class='show-button'></button>
    <div class='filters'> <!-- For hiding -->
      <input class='search' id='cat' type='text' name='search'>
      <div class='categories'>
        {% for category in categories %}
        <label><input class='category-checkbox' type='checkbox' name={{ category.id }} />{{ category.name }}</label>
        {% endfor %}
      </div>
      <button class='submit'>Submit</button>
    </div>
  </div>


    <!--


    <div class='search-queries'>
      <form class='categories-form'>
      </form>
      <input class='search' type='text' name='search' style='width:90%; height:20px; display:block; margin:6px auto;'>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id1' }} />{{ 'Innovote' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id2' }} />{{ 'MyTecHUB' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id3' }} />{{ 'Request Centre' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id4' }} />{{ 'Learning Centre' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id5' }} />{{ 'Developer Xchange' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id6' }} />{{ 'Bournemouth' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id7' }} />{{ 'JPMC Marketplace' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id8' }} />{{ 'Blueberry Suit' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id9' }} />{{ 'Cassandra' }}</label>
      <label><input class='category-checkbox' type='checkbox' name={{ 'cat_id0' }} />{{ 'Pizza Hut' }}</label>
    </div> -->
     <!-- categories -->

{% endblock %}
