{% extends "layout/base.html.j2" %}
{% block header %}
  <link rel='stylesheet' type='text/css' href={{ url_for('static', filename='css/index.css') }}>
  <script src={{ url_for('static', filename='js/like.js') }}></script>
  <script src={{ url_for('static', filename='js/categories.js') }}></script>
  <script src={{ url_for('static', filename='js/category-search.js') }}></script>
{% endblock %}

{% block content %}


  <div class='content'>
    <div class='search-create'>
      <form action='searchPost' method='get' style='margin: 0px;'>
        <input class='search' type='text' name='keyword' autocomplete="off" placeholder='Search for ideas...'>
        <input type="submit" style="position: absolute; left: -9999px"/>
      </form>
      <a class='create' href={{ url_for('.create') }}><button class='create-button'></button></a>
    </div>

    {% for p in posts %}
    <div class="post-container" id="{{ p.id }}">
      <!-- post.title -->
      <p class="post-title">{{ p.title }}</p>
      <!-- post.author -->
      <h4 class="post-author">{{ p.author }}</h4>
      <!-- post.description -->
      <p class="post-description">{{ p.description }}</p>
      <!-- voting arrows -->
      <img class="post-upvote-arrow" src={{ url_for('static', filename='images/up_arrow.svg') }} alt="upvote arrow">
      <img class="post-downvote-arrow" src={{ url_for('static', filename='images/down_arrow.svg') }} alt="downvote arrow">
      <!-- post.votes -->
      <span class="post-votes">{{ p.upvotes - p.downvotes }}</span><span class='post-votes-after'> votes</span>
      <p class="post-view"><a href={{ url_for('.post') ~ '?id=' ~ p.id }}>View</a></p>
      <p>
        {% if p.categories is defined %}
        {% if p.categories|length == 1 %}
        Category: {{ p.categories[0].name }}
        {% else %}
        Categories: 
        {% for category in p.categories %}
          {{ category.name }}, 
        {% endfor %}
        {% endif %}
        {% endif %}
      </p>
    </div> <!-- post-container -->
    {% endfor %}    
  </div> <!-- posts -->

  <div class='sidebar'>
    <button class='show-button'></button>
    <div class='filters'> <!-- For hiding -->
      <input class='search' id='cat-search' type='text' name='search'>
      <div class='categories'>
        {% for category in categories %}
        <label><input class='category-checkbox' type='checkbox' {% if allchecked is defined%}checked=true{% endif %} name={{ category.id }}>{{ category.name }}</label>
        {% endfor %}
      </div>
      <button class='submit' onclick='filter();'>Submit</button>
    </div>
  </div>

  <script>
    function filter() {
      categories = [];
      $('.category-checkbox').each(function() {
        if (this.checked) categories.push(this.name);
      })

      window.location.href='/searchByCategory?keyword=' + categories.toString();
    }
  </script>

{% endblock %}
